# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
terraform/.terraform
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.43.0/linux_amd64/LICENSE.txt
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
